.profile-sidebar {
    width: 250px;
    background: #fff;
    padding: 20px;
    border-right: 1px solid #e8e8e8;
    height: calc(100vh - 64px);
    position: fixed;
    top: 64px;
}

.profile-sidebar .avatar-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-sidebar .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-section h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #1890ff;
}

.ant-menu-item {
    margin: 8px 0;
    font-size: 14px;
}

.ant-menu-item-selected {
    background-color: #e6f7ff;
}
