.main-layout {
  min-height: 100vh;
}

.main-header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-link{
    display: flex;
    align-items: center;
}

.logo-img {
  height: 40px;
  width: auto;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-menu {
  border-bottom: none !important;
  line-height: 64px; /* Chiều cao của header Ant Design mặc định */
}

.main-menu .ant-menu-item {
  font-size: 16px;
  font-weight: 500;
  margin: 0 16px; /* Khoảng cách giữa các mục */
}

.auth-buttons {
  display: flex;
  gap: 8px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 16px;
  }

  .menu-container {
    flex-direction: column;
    width: 100%;
  }

  .main-menu {
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
  }

  .auth-buttons {
    margin-top: 8px;
    justify-content: center;
  }
}