.profile{
  margin-left: 270px;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 64px);
  background: #f5f7fa;
}
.profile h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1890ff;
}
/* .profile{
  display: flex;
  margin-left: 270px;
  padding: 20px;
  min-height: calc(100vh - 64px);
  background: #f5f7fa;
}
.profile{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1890ff;
} */