.profile-details {
  width: 100%;
  margin-left: 270px;
  padding: 20px;
  background: #f5f7fa;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-card {
  width: 80%;
  max-width: 800px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-bottom: 20px;
  border: 2px solid #d9d9d9;
}

.card-left {
  flex: 0 0 120px;
  margin-right: 20px;
}

.avatar-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid #1890ff;
}

.card-right {
  flex: 1;
}

.info-row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.info-row .ant-form-item {
  flex: 1;
}

/* Tùy chỉnh input disabled để rõ ràng hơn */
.ant-input[disabled] {
  background-color: #fff;
  color: #000;
  opacity: 1; /* Loại bỏ hiệu ứng mờ */
  border-color: #d9d9d9; /* Giữ viền nhẹ */
  /* cursor: default; Không cho cảm giác clickable */
}


/* Tùy chỉnh picker date khi chưa chỉnh sửa */
.ant-picker .ant-picker-input input[disabled]{
  background-color: #fff;
  color: #000;
  opacity: 1; /* Loại bỏ hiệu ứng mờ */
  border-color: #d9d9d9; /* Giữ viền nhẹ */
  /* cursor: default; Không cho cảm giác clickable */
}

.ant-picker.ant-picker-disabled{
  background-color: #fff;
  color: #000;
  opacity: 1; /* Loại bỏ hiệu ứng mờ */
  border-color: #d9d9d9; /* Giữ viền nhẹ */
  /* cursor: default; Không cho cảm giác clickable */
} 
.ant-picker.ant-picker-disabled:hover:not([disabled]){
  background-color: #fff;
  color: #000;
  opacity: 1; /* Loại bỏ hiệu ứng mờ */
  border-color: #d9d9d9; /* Giữ viền nhẹ */
  /* cursor: default; Không cho cảm giác clickable */
} 

.ant-select.ant-select-disabled{
  background-color: #fff;
  color: #000;
  opacity: 1; /* Loại bỏ hiệu ứng mờ */
  border-color: #d9d9d9; /* Giữ viền nhẹ */
  /* cursor: default; Không cho cảm giác clickable */
} 
.ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #fff;
  color: #000;
  opacity: 1; /* Loại bỏ hiệu ứng mờ */
  border-color: #d9d9d9; /* Giữ viền nhẹ */
  /* cursor: default; Không cho cảm giác clickable */
} 

.button-group {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
}

.ant-btn {
  height: 40px;
  font-size: 16px;
}